<!-- 시군구 카테고리 목록 -->
<div id="sigunguList" th:fragment="sigunguList">
		<div class="text-center" th:if="${list.isEmpty()}"><!-- 조회된 상품이 없을 때 -->
			<img th:src="@{/image/error/logo_error_noText_noBg.png}" class="w-50"/>
			<p class="jua-regular fs-1 mt-5">등록된 상품이 없습니다.</p>
		</div>
		
		<div th:unless="${list.isEmpty()}"><!-- 조회된 상품이 있을 때 -->
			<div class="row">	
					<!-- 상품 카드 시작-->
					<div class="col-lg-3 col-md-4 card m-2" 
					th:attr="data-productno=${product.productNo}, data-is-subs=${product.isSubscription}
							, data-status=${product.status}, data-shopstatus=${product.shopStatus}"				
					th:each="product:${list}">			
						<!-- 상품 카드 내용 -->
						<div th:replace="~{/common/product-card :: card(product=${product})}"></div>
					</div>
			</div><!-- 1줄 -->
		</div>
</div>