<h1>여기는 관리자페이지 메인페이지</h1>
<h1><a href="/">오늘의 빵으로 이동</a></h1>
게시판 관리             :   문의 신고 합친거 표시
ㄴ  공지사항                                              - center / notoice
    리스트 출력 / 작성 / 편집 / 숨김
    
    FAQ                                                   - center / faq
    리스트 출력 / 작성 / 편집 / 숨김
    
    1:1 문의게시판      :   문의 표시                       - center / inquiry
    리스트출력 / 답변 / status변경 / 이메일
    
    신고게시판          :   신고 표시                       - center / report
    리스트출력 / 대상 검색 / 답변 / status변경 / 이메일

회원 관리               :   관리자 입점 신청수 합친거 표시
ㄴ  회원 조회                                               - member / member
    관리자템플릿?
    
    매장 조회                                               - shop / shop
    관리자 템플릿?
    
    입점 신청 조회      :   입점 신청수 표시                  - center / registry
    리스트출력 / 처리 / status변경 / 이메일
    
    폐점 신청 조회      :   폐점 신청수 표시                  - center / closing
    리스트출력 / 처리 / status변경 / 이메일
    
    관리자 신청 조회    :   관리자 신청수 표시                 - admin / signUp

사이트 관리
ㄴ  
    전체 통계 조회                                          - admin / data
    카테고리 / chart.js / 정렬 기준

    카테고리 관리                                         - main / category
    CRUD

    정산 내역 관리      :   정산 리스트 표시                - admin / settle
    리스트 / 카테고리 / 정렬 순서 / 문서화

    라이더 채팅         :   라이더 채팅 수 표시             - chat
    웹소켓


   -할 내용-
**관리자 로그인**
**나중에 추가할거 : 입점신청 시 사진파일 (사업자등록증 사진)-> 자동입력 가능?(지피티 이용) + 사업자 정보 중복불가**
                    입점 신청 시 가게 내부 사진 촬영하여 지피티가 위생 판단??
                    기타 항목에 대해서 지피티가 분석해서 진짜 기타만 따로?
공지사항, FAQ : 작성 / 수정 / 숨김 처리는 관리자만 가능

문의게, 신고게 : 답변 작성 관리자만 가능, 답변하면 답변 상태(0->1) 변경 
        -> detail 컨트롤러에서도 답변 상태(1->2) 변경 가능하게 설정
        -> 고객센터 메인페이지에 답변 상태(2)인거 카운트(+ 알림(혹은 알림글 추가))

신고게 : 신고대상으로 신고 대상에 맞는 닉네임 or 빵집이름 출력(a테그)(관리자만 가능)
        -> 해당 대상으로 회원 조회(빵집이름이 있으면 빵집 조회 or 유저 조회 페이지로 이동)(관리자만 가능)

회원 관리 (관리자만 가능)

정렬 기준 : 카테고리 : 유저타입( role 0 / 1 / 3)
           이름 / 유저타입(role) / 닉네임(빵집이름) / 가입날짜 / 제재 유무
           제재 버튼(날짜지정(일일 1주 1달??) or 영정)

입.폐점 신청 조회 : 조회 페이징처리(관리자만 가능)
                  (상세 페이지에서 기입된 이미지 조작 유무 확인(지피티))
                  수락 / 거절사유 + 거절버튼

관리자 신청 조회 : 관리자 페이지에서 회원가입한 예비관리자?에 대해서 승인하기 -> 관리자로 인정

사이트 관리
전체 통계 : 생각해보기
(Session 으로 일일 접속자 수 , 주간 접속자 수 , 월간 접속자 수) 


카테고리 관리 : 어떻게하나...
categoryDTO를 CRUD할 수 있는 권한

정산 내역 관리 : 카테고리 + 검색 + 기간 : 매장or라이더 / 닉네임 클릭 시 회원정보 연결가능하게
                자동으로 정산된 내용을 FAQ 처럼 보여줌
               상단 혹은 우측상단에 출력하기 버튼
                -> 표시하는 부분에 대해서만 다른 파일로 출력(이것도 지피티가 해주나?)

라이더 채팅은 병주님이랑 협의


지금 할거 : 사유 테이블에 대해서 정리
신고, 거절, 폐점, 제재 사유 확정
지피티에 물어보던 기록 남아있으니 정리할것
및 테이블에 주석처리

입점 거절 사유 : 필수 서류 미비 / 자격 요건 불충족 / 품질 기준 미달 / 중복,허위 기재
ㄴ int 
회원 제재 사유 : 운영방침 위반(불법 상품 판매, 허위 정보 게시, 타인 명의 도용 등 운영 정책 위반.) 
                / 부적절한 이용행위(욕설, 비방, 음란물, 도배 행위 등 커뮤니티 질서를 해치는 행위.)
                / 결제관련 문제(반복적인 미결제, 결제 취소, 환불 악용 등 거래 안정성 저해.)
                / 법적 문제(저작권 침해, 개인정보 유출, 법령 위반 등으로 인해 법적 분쟁 소지가 있는 경우.)
                / 판매자 피해 누적()

빵집 제재 사유 : 위생 및 품질 문제(반복적인 불량, 유통기한 도과 제품)
                / 배송,운영 불성실(주문 누락, 과도한배송 지연)
                / 허위,과장 광고(실제 판매하지 않는 메뉴, 이미지와 현저히 다른 상품)
                / 정산, 계약 위반
                / 소비자 피해 누적(다수의 고객불만)

폐점 사유      : 개인 사정(건강, 가족 등)
                / 경영 문제(매출부진, 원자재 가격상승)
                / 플랫폼 관련(수수료 부담, 주문량 부족)
                / 기타

회원 신고 사유 : 별점 테러(악성 리뷰)
                / 허위주문, 노쇼(허위 주문)
                / 악성 행위(욕설 비방)
                / 부정 이용(다계정 이용)
                / 기타

빵집 신고 사유 : 위생 문제(유통기한 도과, 위생상태 불량)
                / 상품 문제(불량 제품)
                / 배송 문제(배달 지연, 누락)
                / 불친절(고객 응대 불만)
                / 기타

[Admin]
--제재 시퀀스
CREATE SEQUENCE restrict_seq START WITH 1 INCREMENT BY 1;
--수수료 변경 기록 시퀀스
CREATE SEQUENCE settle_config_history_seq START WITH 1 INCREMENT BY 1;
--정산 시퀀스
CREATE SEQUENCE settle_seq START WITH 1 INCREMENT BY 1;
-- 사유 기록 시퀀스
CREATE SEQUENCE reason_seq START WITH 1 INCREMENT BY 1;

[Center]
--FAQ 시퀀스
CREATE SEQUENCE faq_seq START WITH 1 INCREMENT BY 1;
--문의게시판 시퀀스
CREATE SEQUENCE inquiry_seq START WITH 1 INCREMENT BY 1;
--문의게 이미지 시퀀스
CREATE SEQUENCE inquiry_img_seq START WITH 1 INCREMENT BY 1;
--공지사항 시퀀스
CREATE SEQUENCE notice_seq START WITH 1 INCREMENT BY 1;
--신고게시판 시퀀스
CREATE SEQUENCE report_seq START WITH 1 INCREMENT BY 1;
--신고게 이미지시퀀스
CREATE SEQUENCE report_img_seq START WITH 1 INCREMENT BY 1;


입점신청 유효성검사 - 빈칸으로 focus
관리자가 답변 시 알림 보내기(웹소켓으로)
고객센터에서 경로 꼬인거 설정
관리자페이지 모든 페이지 외부 접근 막기
SweetAlert 설정
제재, 취소 버튼 활성화조건
고객센터에 있는 버튼들 관리자 페이지로 바꾸기
신고 게시판에서 이름 누르면 회원조회로 넘어가기
입점 신청 수락 시 한번 더 확인해보기
정산 신청 시 0원이면 리턴

-마지막 통계-

google recaptcha