<!-- 인기빵 순위 -->
<div id="sigunguPopularList" th:fragment="sigunguPopularList">							
				<div class="text-center" th:if="${popularList.isEmpty()}"><!-- 조회된 상품이 없을 때 -->
					<p class="jua-regular fs-3 mt-3">인기 상품이 없습니다.</p>
				</div>
				
				<div th:unless="${popularList.isEmpty()}"><!-- 조회된 상품이 있을 때 -->
					<div class="carousel-item active" >
					<div class="row"><!-- 캐러셀 1줄 내 상품 카드를 가로로 배치 -->
						<th:block th:each="product, stat :${popularList}" th:if="${stat.index < 5}"><!-- 상품 / 한 줄에 상품 5개씩-->
						<!-- 상품 카드 시작-->
						<div class="col card m-2" th:attr="data-productno=${product.productNo}">
							<!-- 상품 카드 내용 -->
							<div th:replace="~{common/product-card :: card(product=${product})}"></div>
						</div><!-- 상품 카드 종료-->
						</th:block>
					</div><!-- 캐러셀 1줄 -->
					</div><!-- carousel-item -->

					
					<div class="carousel-item" >
					<div class="row"><!-- 캐러셀 1줄 내 상품 카드를 가로로 배치 -->
						<th:block  th:each="product, stat :${popularList}" th:if="${stat.index >= 5 && stat.index <10}">
						<!-- 상품 카드 시작-->
						<div class="col card m-2" th:attr="data-productno=${product.productNo}">
							<!-- 상품 카드 내용 -->
							<div th:replace="~{common/product-card :: card(product=${product})}"></div>
						</div><!-- 상품 카드 종료-->
						</th:block>	
					</div><!-- 캐러셀 1줄 -->
					</div><!-- carousel-item -->

					<div class="carousel-item" >
					<div class="row"><!-- 캐러셀 1줄 내 상품 카드를 가로로 배치 -->					
						<th:block  th:each="product, stat :${popularList}" th:if="${stat.index >= 10 && stat.index <15}">
						<!-- 상품 카드 시작-->
						<div class="col card m-2" th:attr="data-productno=${product.productNo}">
							<!-- 상품 카드 내용 -->
							<div th:replace="~{common/product-card :: card(product=${product})}"></div>
						</div><!-- 상품 카드 종료-->
						</th:block>	
					</div><!-- 캐러셀 1줄 -->
					</div><!-- carousel-item -->

					<div class="carousel-item" >
					<div class="row"><!-- 캐러셀 1줄 내 상품 카드를 가로로 배치 -->
						<th:block  th:each="product, stat :${popularList}" th:if="${stat.index >= 15 && stat.index <20}">
						<!-- 상품 카드 시작-->
						<div class="col card m-2" th:attr="data-productno=${product.productNo}">				
							<!-- 상품 카드 내용 -->
							<div th:replace="~{common/product-card :: card(product=${product})}"></div>
						</div><!-- 상품 카드 종료-->
						</th:block>	
					</div><!-- 캐러셀 1줄 -->
					</div><!-- carousel-item -->
					
				</div><!-- 조회된 상품 있을 때 -->
</div>


<!-- 최신빵 순위 -->		
<div id="sigunguNewList" th:fragment="sigunguNewList">				
				<!-- 조회된 상품이 없을 때 -->
				<div class="text-center" th:if="${newList.isEmpty()}">
					<p class="jua-regular fs-3 mt-3">최신 상품이 없습니다.</p>
				</div>
				
				<!-- 조회된 상품이 있을 때 -->
				<div th:unless="${newList.isEmpty()}">
					<div class="carousel-item active" >
					<div class="row"><!-- 캐러셀 1줄 내 상품 카드를 가로로 배치 -->
						<!-- 상품 / 한 줄에 상품 5개씩-->
						<th:block th:each="product, stat :${newList}" th:if="${stat.index < 5}">
						<!-- 상품 카드 시작-->
						<div class="col card m-2" th:attr="data-productno=${product.productNo}">
							<!-- 상품 카드 내용 -->
							<div th:replace="~{common/product-card :: card(product=${product})}"></div>
						</div><!-- 상품 카드 종료-->
						</th:block>
					</div><!-- 캐러셀 1줄 -->
					</div><!-- carousel-item -->
					
					<div class="carousel-item" >
					<div class="row"><!-- 캐러셀 1줄 내 상품 카드를 가로로 배치 -->
						<!-- 상품 / 한 줄에 상품 5개씩-->
						<th:block  th:each="product, stat :${newList}" th:if="${stat.index >= 5}">
							<!-- 상품 카드 시작-->
							<div class="col card m-2" th:attr="data-productno=${product.productNo}">
								<!-- 상품 카드 내용 -->
							<div th:replace="~{common/product-card :: card(product=${product})}"></div>
							</div><!-- 상품 카드 종료-->
						</th:block>					
					</div><!-- 캐러셀 1줄 -->
					</div><!-- carousel-item -->
				
				</div><!-- 조회된 상품 있을 때 -->	
</div>			