/*본문 상부*/
.top{ padding: 48px 0 28px; }
    .top__inner{ display:grid; grid-template-columns: 1.15fr .85fr; gap: 28px; align-items:center; }
    .top h1{ font-family: 'Jua', system-ui; font-size: clamp(28px, 4.4vw, 48px); line-height:1.15; margin:.1em 0 .4em; }
	.top h3{ font-family: 'Jua', system-ui; font-size: clamp(14px, 4.4vw, 24px); line-height:1.15; margin:.1em 0 .4em; }    
    .top p{ font-size: clamp(15px, 2.2vw, 18px); margin:0 0 18px; } /* clamp(최소크기, 화면의 2.2%사이즈의 크기로 변하기, 최대크기)*/

/*위치 정보*/
.location{
	  width: 70%;
	  min-width: 350px;
}
.user_location:hover {
	cursor: pointer;	
}

#sido, #sigungu{
	min-width: 80px;
	min-height: 40px;
}


#bname { /*메인에서 동도로명 구분 안보이게*/
	display:none;
}

    .map_wrap {position:relative;width:100%;height:350px;}
    .title {font-weight:bold;display:block;}
    .hAddr {position:absolute;left:10px;top:10px;border-radius: 2px;background:#fff;background:rgba(255,255,255,0.8);z-index:1;padding:5px;}
    #centerAddr {display:block;margin-top:2px;font-weight: normal;}
    .bAddr {padding:5px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}

img{ display:block;  height:auto; }

/*캐러셀*/
	.popularList {
		margin-top: 50px;
		margin-bottom: 100px;
	}
	
	.newList {
		margin-bottom: 150px;
	}

	#newListCarousel, #popularListCarousel { position: relative; } /*버튼 위치의 기준점*/
	.carousel-inner { display: flex; background-color: #fff; } /*캐러셀 내부 요소를 가로로 배치*/
	.carousel-item { flex: 0 0 100%; } /*한 번에 5개의 card가 보이도록*/
	.carousel-control-prev { /*캐러셀 이전 버튼 밖으로 빼기*/
							position: absolute;
							top: 50%;
							transform: translateY(-50%);
							left: -150px; 
							}
	.carousel-control-next { /*캐러셀 다음 버튼 밖으로 빼기*/
							position: absolute;
							top: 50%;
							transform: translateY(-50%);
							right: -150px; 
							}
	.carousel-control-prev-icon { /*캐러셀 이전 버튼 svg파일 변경*/
  		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff6347' viewBox='0 0 8 8'%3E%3Cpath d='M5.5 0.5L4.5 -0.5 0.5 3.5 4.5 7.5 5.5 6.5 2.5 3.5z'/%3E%3C/svg%3E");
	}
	.carousel-control-next-icon { /*캐러셀 다음 버튼 svg파일 변경*/
  		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff6347' viewBox='0 0 8 8'%3E%3Cpath d='M2.5 0.5L3.5 -0.5 7.5 3.5 3.5 7.5 2.5 6.5 5.5 3.5z'/%3E%3C/svg%3E");
	}
	
	.card {
		min-width:195px;
		max-width:450px;
	}
	
	